
body {
    color: red;
    background-color: black;
}

button {
    background-color: red;
    font-size: large;
    padding: 8px 16px;
    border-radius: 8px;
}

button:disabled {
    visibility: hidden;
}

button:hover {
    box-shadow: 0 8px 12px 0 rgb(250, 246, 246), 0 10px 38px 0 rgb(250, 246, 246);
}

.game { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border: 1px solid red;
    margin: 20px;
    padding: 10px;
}

